footer(style="margin: auto")
.Rectangle-192
    .footerBox
        .calendar
            a(href="/calendar"): img(src="/img/calendar.png")
    .footerBox
        .medicine
            a(href="/medicines"): img(src="/img/pill.png")
    .footerBox 
        .profile
            a(href="/user"): img(src="/img/man-user.png")